name: Check BOM in CSV, JSON and MD files

on: workflow_call

permissions:
  contents: read

jobs:
  check-bom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Check for BOM in CSV, JSON and MD files
        run: |
          shopt -s globstar
          shopt -s nocaseglob
          bom_found=false
          for file in **/*.csv **/*.json **/*.md; do
            if [ -f "$file" ]; then
              bom=$(hexdump -n 3 -e '/1 "%02x"' "$file")
              if [ "$bom" = "efbbbf" ]; then
                echo "Error: File $file has a BOM"
                echo "::error file=$file::File has BOM"
                bom_found=true
              else
                echo "File $file is valid"
              fi
            fi
          done
          if [ "$bom_found" = true ] ; then
            echo "At least one file has BOM, failing the action"
            exit 1
          fi
