# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples

on:
  workflow_call:
    inputs:
      ignore-renv:
        description: 'Skip renv setup if set to true'
        required: false
        type: boolean
        default: false

name: R-CMD-check

permissions: read-all

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: macos-latest, r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Setup R environment
        id: setup-r-env
        uses: Open-Systems-Pharmacology/Workflows/.github/actions/setup-r-env@main
        with:
          ignore-renv: ${{ inputs.ignore-renv }}

      - name: Check R package
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          args: 'c("--no-manual", "--no-vignettes")'
          build_args: 'c("--no-manual", "--no-build-vignettes")'
          error-on: 'c("error")'

      - name: Install extra packages
        run: |
          packages <- c("rcmdcheck", "devtools", "pkgload", "desc")
          missing <- packages[!packages %in% rownames(installed.packages())]
          if (length(missing) > 0) {
            install.packages(missing)
          }
        shell: Rscript {0}

      - name: Build package
        if: success()
        run: |
          output_dir <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "built_package")
          dir.create(output_dir)
          # first run build() to get a bundle package (that includes rendered vignettes), then create binary.
          devtools::build(devtools::build(), binary = TRUE, path = output_dir, args=c("--preclean", "--install-tests"))
        shell: Rscript {0}

      - name: Get package name, version and R versions and store in environment
        if: success()
        run: |
          echo "PKG_NAME=$(Rscript --vanilla -e 'cat(pkgload::pkg_name())')" >>  $GITHUB_ENV
          echo "PKG_VERSION=$(Rscript --vanilla -e 'cat(as.character(desc::desc_get_version()))')" >> $GITHUB_ENV
          echo "R_VERSION=$(Rscript --vanilla -e 'cat(R.version$major, R.version$minor, sep = ".")')" >> $GITHUB_ENV
        shell: bash

      - name: Upload built package
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PKG_NAME }}-v${{ env.PKG_VERSION }}-${{runner.os}}-r_${{ env.R_VERSION }}
          path: ${{ runner.temp }}/built_package/*
